@page
@model AppSecAssignment.Pages.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    @{
        @if (Model.reset == true)
        {
            <div class="alert alert-success">
                <p>Your password has been successfully reset.</p>
                <p>Click <a asp-page="/Login">here</a> to login.</p>
            </div>
        }
    }

    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="resetPassword.Token" value="@Model.ResetToken" />
    <input type="hidden" asp-for="resetPassword.Email" value="@Model.Email" />


    <div class="mb-3">
        <label class="form-label" asp-for="resetPassword.Password">New Password</label>
        <input type="password" asp-for="resetPassword.Password" value="" class="form-control" />
        <span asp-validation-for="resetPassword.Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>